body {
  background-color: #ffbf00;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Heavitas';
}


/* name, title, statement and buttons here */

.intro {
  margin-top: 200px;
  font-family: 'Dealerplate';
  font-size: 40px;
  text-align: center;
}


.bg2 {
  display: flex;
  justify-content: center;
  background-image: url(./img/blob.svg);
  background-repeat: no-repeat;
  margin: -200px 0px 600px 0px;
  padding: 50px;
  width: 1200px;
  height: 1200px;
}

.bg {
  display: flex;
  justify-content: center;
}

.three {
  background-image: url(/src/img/home.png);
  background-repeat: no-repeat;
  width: 1900px;
  height: 1000px;
  margin-top: -1170px;
  margin-left: 200px;
  margin-bottom: 200px;
}

.name {
  margin-top: -25px;
  margin-bottom: 30px;
  text-align: center;
  color: #E4584B;
  font-family: 'helvetica';
  font-size: 17px;
  font-weight: bold;
}

.titleP {
  font-size: 19px;
  font-weight: bold;
  margin-top: 55px;
  font-family: 'helvetica';
  letter-spacing: 1.5px;
}

.title h1 {
  font-weight: bold;
  padding-top: 235px;
  font-family: 'heavitas';
  letter-spacing: 1.5px;
}

.title h3 {
  font-weight: bold;
  margin-top: -35px;
  font-family: 'dealerplate';
  letter-spacing: 1.5px;
}

.Talexisbg {
  background-color: #fff37e;
  width: 200px;
  height: 30px;
  margin: auto;
  border-radius: 3px;
}

.featuredTitle {
  font-size: 80px;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 5px 100px;
  font-family: 'Dealerplate';
  color: #fff;
  background-color: black;
  border-radius: 30px 30px 0 0;
}

.featuredList {
  color: black;
  display: flex;
  justify-content: space-between;
}

.ftitle p {
  font-size: 15px;
  font-family: 'helvetica';
  letter-spacing: 1.0px;
  font-weight: 900;
  margin: 0px 250px 0px 0px;
  padding: 0px 0px 100px 100px;
  color: white;
}

.ftitle h3 {
  color: white;
  font-size: 25px;
  margin: 80px 0px 50px 100px;
}


/* name, title, statement and buttons ends here */



/* background shapes, layout, or colors here */
.layer4 {
  margin-top: -100px;
}


.layer6 {
  margin-top: 00px;
  padding: 200px 0px 200px 0px;
  background-color: rgba(0 0 0/60%);
  z-index: -1;
}


.productCard {
  right: 80px;
  margin-top: -50px;
  padding: 0px 50px 100px 0px;
}

.logo2div {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  background-color: rgba(0 0 0/60%);
}

.logo {
  background-image: url(/src/img/excaliburLogo.png);
  background-repeat: no-repeat;
  margin: 200px 0px 0px 200px;
  width: 800px;
  height: 800px;
}

.featuredbg {
  background-color: #5A290C;
  margin: -150px 100px 100px 100px;
  border-radius: 30px;
}

.slides {
  width: 750px;
  height: 450px;
  margin-top: 180px;
}

.link{
  color: white;
}

/* background shapes, layout, or colors  ends here */
/* web development pages, background shapes, layout, or colors  starts here */



/* background shapes, layout, or colors  ends here */



/* Media queries */




@font-face {
  font-family: 'Heavitas';
  src: local('Heavitas'), url('./fonts/Heavitas.ttf') format('truetype');

}

@font-face {
  font-family: 'Dealerplate';
  src: local('Dealerplate'), url('./fonts/Dealerplate.ttf') format('truetype');
}